/*font-awesome link para footer */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


h1
{color: blue;
background-color: rgb(120, 210, 220);}

.header {
    padding: 0;
    border: none;
    margin: 0;
}

.navbar {
    padding: 0;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

.footer{
    padding: 0;
    border: none;
}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}