<footer class="bg-dark text-white">
    <div class="container text-center">
        <p>Footer Content</p>
        <a href="https://www.youtube.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</footer>
