
{% load static %}

<div class="text-center bg-dark text-white container-fluid py-3">
    <p>Desarrollado por Vanessa Morales para Desafío Latam</p>
        <a href="https://www.youtube.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-instagram"></i>
        </a>
</div>

