{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand p-3" href="#">ONLYFLANS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Indice</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'welcome' %}">Welcome</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="dropdown-item"  href="{% url 'cart' %}">cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item"  href="{% url 'checkout' %}">Checkout</a>
                    </li>
                  </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
          </ul>
          <div class="d-flex align-items-center ms-auto">
              <a href="#" class="btn btn-warning me-3">Login</a>
              <a href="{% url 'cart' %}" class="d-flex align-items-center">
                  <img id="cart-icon" src="{% static 'img/cart.png' %}" alt="Cart" class="me-2">
                  <p id="cart-total" class="mb-0">0</p>
              </a>
          </div>
      </div>
  </div>
</nav>

  