{% extends "layout.html" %}
{% load static %}
{% block title %}Welcome{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido cliente</title>
</head>
<body>

    <div class="container">
      <!--imagen principal-->
        <div class="py-5 text-center">
          <img
            class="d-block mx-auto mb-4"
            src="{% static 'img/img1.jpeg' %}"
            alt=""
            width="172"
            height="157"
          />
          <!--descripcion y agradecimiento-->
          <h2>bienvenido</h2>
          <p class="lead">
            Below is an example form built entirely with Bootstrap’s form
            controls. Each required form group has a validation state that can be
            triggered by attempting to submit the form without completing it.
          </p>
        </div>
      </body>       
{% endblock %}